*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.bg-main{
  background-color: hsl(217, 28%, 15%)!important;
  color: white;
}

img, svg{
  width: 100%;
}

.bg-darker{
  background-color: hsl(218, 28%, 13%);
}

.smaller-txt{
  font-size: 0.7rem;
}
