*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bg-main{
  background-color: hsl(217, 28%, 15%)!important;
  color: white;
}

img, svg{
  width: 100%;
}

.bg-darker{
  background-color: hsl(218, 28%, 13%);
}

.bg-darkest{
  background-color: hsl(216, 53%, 9%);
}


.smaller-txt{
  font-size: 0.7rem;
}

.icon-img{
  width: 20%!important;
}
